body {
  padding: 50px;
  font: 14px "Helvetica Neue","Open Sans",sans-serif;
  font-weight: bold;
  color: white;
}

a {
  color: #00FF7F;
}

h1, h2,h4 {
  font-weight: 100;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 35px;
  text-align: center;
}
h3{
  color: white;
}

ul li {
  padding: 5px;
}

.btn  {
  background-color: #00FF7F;
}
.col-md-6{

}
.outline{
}

.task{

}
.weather{
  float: left;;
}

.stocks{
  float: right;
  background-color: #f0f0f0;
}

body{
  background-image: url('https://images.pexels.com/photos/56832/road-asphalt-space-sky-56832.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat:no-repeat;
       background-size:cover;
}

.container {
  width: 600px;
  margin: 0 auto;
}
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
.ghost-input, p {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
}
.ghost-button {
  background-color: transparent;
  border:2px solid #ddd;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  border:2px solid #515151;
}
p {
  color: #E64A19;
}

img{
  width: 400px;
  height: 300px;
}

body {
  background-image: url("/images/dashBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  color: black;
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(29, 4, 75);
}

.welcome {
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  filter: alpha(opacity=30);
  text-align: center;
  margin-left: 80px;
}

#time {
  color:orange;
}

#quote {
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  filter: alpha(opacity=30);
text-align: center;
font-size: 30px;
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#apiName{
  text-align: left;
  color: white;
}

#rowTop{
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  filter: alpha(opacity=30);
  text-align: center;
}
